In [35]:
#                                       ANSWER 1 
empty_list = [ ] 
print(" PRINTING MY EMPTY LIST : ",empty_list)

 PRINTING MY EMPTY LIST :  []

In [53]:
#                                    ANSWER 2
List = [ 1,2,3,4,5,6]
List.append(["Siya",5+2j])
print("adding an element to the end of this list by help of append : " , List)

adding an element to the end of this list by help of append :  [1, 2, 3, 4, 5, 6, ['Siya', (5+2j)]]

In [43]:
#                                    ANSWER 3
last_element = List[-1]
print("PRINTING ONLY LAST ELEMENT OF LIST : " , last_element )

PRINTING ONLY LAST ELEMENT OF LIST :  ['Siya', (5+2j)]

In [47]:
#                                       ANSWER 4 
List.reverse()
print(" reversing the list : " ,List)

 reversing the list :  [['Siya', (5+2j)], 6, 5, 4, 3, 2, 1]

In [48]:
#                                       ANSWER 6
movies = [ "Pathaan" , "Baahubali 2 " , "KGF Chapter 2"]
second_movie = movies[1]
print("Printing the second movie title : ", second_movie)

Printing the second movie title :  Baahubali 2

In [49]:
#                                     ANSWER 7
list_animal = ["Donkey","Tiger","Panther","Leopard","Cheetah","Elephant","Polar","bear","Turtle","Crocodile"]
new_animal_list = ["Rabbit","Porcupine","Hen"]
updated_list = list_animal + new_animal_list
print(updated_list)

['Donkey', 'Tiger', 'Panther', 'Leopard', 'Cheetah', 'Elephant', 'Polar', 'bear', 'Turtle', 'Crocodile', 'Rabbit', 'Porcupine', 'Hen']

In [59]:
#                                       ANSWER 5
updated_list.sort()
print("SORTING LIST : " , updated_list)

SORTING LIST :  ['Cheetah', 'Crocodile', 'Donkey', 'Elephant', 'Hen', 'Leopard', 'Panther', 'Polar', 'Porcupine', 'Rabbit', 'Tiger', 'Turtle', 'bear']

In [52]:
#                                     ANSWER 8
cities = ["Mumbai","Delhi","Bangalore","Kolkata","Chennai","Ahmedabad","Hyderabad","Pune"]
specific_postion_of_city = cities.index("Bangalore")
print(" Position of Bangalore : ",specific_postion_of_city)

 Position of Bangalore :  2